:root {
    --space-background-color: #111837;
    --space-star-color-primary: #2C4A78;
    --space-star-color-secondary: #8BCADD;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url('../assets/space-background.png');
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header {
    background: var(--space-star-color-primary);
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 5px 0 10px black;
}

main {
    flex: 1;
}

footer {
    background: var(--space-star-color-secondary);
    text-align: center;
    padding: 0.5rem;
}

footer img {
    height: 25px;
    margin: 0 5px;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--space-background-color);
}

figure,
.info-paragraph {
    background: var(--space-star-color-secondary);
    border: 5px solid var(--space-star-color-primary);
    border-radius: 25px;
}

figure,
.guessing-section,
#game-stats {
    width: 55vw;
}

figure {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

figure > img {
    max-width: 50vw;
    max-height: 50vh;
}

figcaption {
}

.hidden {
    display: none;
}

.opening-logo {
    margin: 35px;
    display: flex;
}

.opening-logo > h1 {
    color: white;
    font-size: 4rem;
    margin: 0;
}

.opening-logo > img {
    margin: 0 1rem;
    height: 100px;
}

.info-paragraph {
    padding: 2rem 4rem;
    font-size: var(--space-background-color);
    font-size: 2rem;
    width: 50%;
    text-align: justify;
}

.image-viewer {
    position: relative;
}

#figure-overlay {
    position: absolute;
    background-color: rgba(0,0,0, 0.9);
    top: 7.5px;
    left: 38.5px;
    height: calc(100% - 20.5px);
    width: calc(100% - 78.5px);
    border-radius: 25px;
    margin: 0;
    color: white;
}

.scene {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.state-game-button {
    background-color: var(--space-star-color-primary);
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 5ms linear;
    cursor: pointer;
}

.state-game-button:hover {
    background: var(--space-star-color-secondary);
    color: var(--space-background-color);
}

.state-game-button:active {
    background:  var(--space-background-color);
    color: white;
}

.attempt-tracker {
    border-radius: 50%;
    background: radial-gradient(white, gray);
    height: 25px;
    width: 25px;
    margin-right: 7.5px;
}

.attempt-tracker--incorrect {
    background: radial-gradient(red, darkred);
}

.attempt-tracker--correct {
    background: radial-gradient(lime, darkgreen);
}

.scene,
#start-scene,
#game-scene,
#end-scene {
    height: 100%;
}

#game-stats {
    color: white;
    font-weight: bold;
    margin-top: 25px;
    justify-content: space-between;
    width: 50%;
}

#game-stats,
#attempt-tracker {
    display: flex;
    flex-direction: row;
}

#round-tracker::before {
    content: "Round "
}

#overlay-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

#overlay-info h1 {
    font-size: 3rem;
    text-shadow: 4px 0 var(--space-star-color-primary);
}

#overlay-info h2 {
    margin-top: 10%;
}

#overlay-info ul {
    padding: 0;
    margin: 0;
}

#guess-input {    
    width: 100%;
    padding: 10px;
    margin: 0 10px;
}

#guess-button {
    font-size: 1rem;
    border-radius: 0 25px 25px 0;
    padding: 1rem;
}

.guessing-section {
    background: linear-gradient(90deg, white 85%, var(--space-star-color-primary));
    border-radius: 25px;
    border: 2px solid var(--space-star-color-primary);
    padding-left: 5px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#end-scene h2 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 0 var(--space-star-color-primary)
}

@media (max-width: 700px) {
    #game-stats,
    .guessing-section,
    figure {
        width: 75vw;
    }

    figure {
        height: 50vh;
    }

    .opening-logo {
        margin-bottom: 0;
    }

    .opening-logo > h1 {
        font-size: 2rem;
    }

    .opening-logo > h1:first-of-type {
        margin-right: 15px;
    }

    .opening-logo > img {
        display: none;
    }

    .info-paragraph {
        font-size: 1.25rem;
        text-align: center;
        padding: 1rem;
        width: 80%;
        height: auto;
    }

    .state-game-button {
        font-size: 1.5rem;
    }

    .image-viewer > img {
        height: 50px;
        left: calc(37.5vw + 25px);
        top: 65px;
    }

    .scene,
    #start-scene,
    #game-scene,
    #end-scene {
        height: auto;
    }

    .attempt-tracker {
        height: 15px;
        width: 15px;
    }

    #overlay-info,
    #overlay-info h1,
    #overlay-info h2 {
        font-size: 1rem;
    }

    #end-scene h2 {
        color: white;
        font-size: 1rem;
        text-align: center;
        margin: 25px;
    }

    .guessing-section {
        background: linear-gradient(90deg, white 75%, var(--space-star-color-primary) 75%);
    }
}